<body>
<div class="row mt-5">
    <div class="col-12 spacer">
        <h1 class="text-center">Portas</h1>
        <hr>
        <section id="Portas">
            <table class="table table-striped text-center">
                <thead id="cabListaReservas">
                <tr>
                        <th class="col-4">Sala</th>
                        <th class="col-4">Status</th>
                    <th>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                                data-bs-target="#abrir">Abrir
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                data-bs-target="#fechar">Fechar
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody id="listaPortas">
                </tbody>
            </table>
        </section>
    </div>
</div>
</body>
