<body>
<div class="row mt-5 ms-5 me-5">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="text-center">Portas</h1>
        <hr>
        <section id="Portas">
            <table class="table table-striped text-center">
                <thead id="cabListaPorta">
                <tr>
                        <th></th>
                        <th>Sala</th>
                        <th>Status</th>
                        <th>Ações</th>
                </tr>
                </thead>
                <tbody id="listaPortas">
                <tr th:each="porta : ${portas}">
                    <td th:value="${porta.id}" th:text="${porta.id}"></td>
                    <td th:text="${porta.sala}"></td>
                    <td th:text="${porta.ativo} ? 'Aberta' : 'Fechada'"></td>
                    <td><a id="butao" th:value="${porta.id}" type="button" class="btn a btn-sm btn-danger" th:href="${'PortasA/'+porta.id}" th:text="${porta.ativo} ? 'Fechar' : 'Abrir'"></a></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<div class="col-3"></div>
</body>
