<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div>
        <h2>Login de Usuário</h2>
    </div>
    <br>
    <div>
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required>
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
    </div>
    <div>
        <input type="submit" value="Entrar">
    </div>
</div>
</body>
</html>