<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="JS/Home.js" defer></script>
    <script src="JS/Perfil.js" defer></script>
    <script src="JS/Porta.js" defer></script>
    <script src="JS/routs.js"></script>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg border-bottom border-body bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://www.sistemafiep.org.br/onde-encontrar/resources/img/logo_sistema.png"
                 height="40px" width="160px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Hominha">Horarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Portas">Portas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/edit/usuario">Perfil</a>
                </li>

            </ul>
            <div class="d-flex">
                <div style="width: 100%;">
                    <h6 class="mt-1"></h6>
                </div>
                <div class="text-end">
                    <a href="/logout" class="btn btn-sm btn-danger">Sair</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="mainFrame" class="container">

    <div class="row mt-5">
        <div class="col-12 spacer">
            <div class="d-flex justify-content-between align-items-center">
                <span></span>
                <h1 class="text-center">Horarios</h1>
                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                        data-bs-target="#novaReserva">+
                </button>
            </div>
            <hr>
            <section id="reservas">
                <table class="table table-striped text-center">
                    <thead id="cabListaReservas">
                    <tr>
                        <!--                        <th>Dia</th>-->
                        <th></th>
                        <th>Horario de Abertura</th>
                        <th>Horario de Fechar</th>
                        <th>Porta</th>
                        <th>Deletar</th>
                    </tr>
                    </thead>
                    <tbody id="listaReservas">
                    <tr th:id="${'excloi'+reserva.id}" th:each="reserva : ${reservas}">
                        <td id="idHorario" th:text="${reserva.id}"></td>
                        <td th:text="${#temporals.format(reserva.data_abertura, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${#temporals.format(reserva.data_fechamento, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${reserva.id_porta}"></td>
                        <td> <a th:href="${'/removerR/'+ reserva.id}" class="btn btn-sm btn-danger">-</a></td>
<!--                        <td><a id="butao" th:value="${reserva.id}" type="button" class="btn a btn-sm btn-danger"-->
<!--                               th:href="${'/reservaA/'+reserva.id}" >-</a></td>-->
                    </tr>
                    </tbody>
                </table>
            </section>
            <!-- Modal -->
            <div class="modal fade" id="novaReserva" tabindex="-1" aria-labelledby="novaReservaTitle"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="novaReservaTitle">Novo Horario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6 mt-5">
                                    <span>Horario de Abertura</span>
                                    <input id="horarioE" class="form-control" type="datetime-local"/>
                                </div>
                                <div class="col-6 mt-5">
                                    <span>Horario de fechamento</span>
                                    <input id="horarioS" class="form-control" type="datetime-local"/>
                                </div>
                            </div>
                            <div class="form-floating mt-5">
                                <select style="border: none; border-bottom: solid 2px #0d009c; border-radius: 0"
                                        class="form-select" id="sala" aria-label="Floating label select example">
                                    <option selected value="1">Sala 1</option>
                                    <option value="2">Sala 2</option>
                                    <option value="3">Sala 3</option>
                                    <option value="4">Laboratório de informática</option>
                                    <option value="5">Laboratório de química</option>
                                </select>
                                <label for="sala">Selecione uma sala</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger text-start" data-bs-dismiss="modal">Cancelar</a>
                            <a type="button" class="text-start btn btn-primary" onclick="addReserva()">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>