
    <div class="row mt-5">
        <div class="col-12 spacer">
            <div class="d-flex justify-content-between align-items-center">
                <span></span>
                <h1 class="text-center">Horarios</h1>
                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#novaReserva">+</button>
            </div>
            <hr>
            <section id="reservas">
                <table class="table table-striped text-center">
                    <thead id="cabListaReservas">
                    <tr>
                        <!--                        <th>Dia</th>-->
                        <th>Horario de Abertura</th>
                        <th>Horario de Fechar</th>
                        <th>Porta</th>
                    </tr>
                    </thead>
                    <tbody id="listaReservas">
                        <tr th:each="reserva : ${reservas}">
                            <td th:text="${reserva.data_abertura}"></td>
                            <td th:text="${reserva.data_fechamento}"></td>
                            <td th:text="${reserva.id_porta}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!-- Modal -->
            <div class="modal fade" id="novaReserva" tabindex="-1" aria-labelledby="novaReservaTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="novaReservaTitle">Novo Horario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6 mt-5">
                                    <span>Horario de Abertura</span>
                                    <input id="horarioE" class="form-control" type="datetime-local"/>
                                </div>
                                <div class="col-6 mt-5">
                                    <span>Horario de fechamento</span>
                                    <input id="horarioS" class="form-control" type="datetime-local"/>
                                </div>
                            </div>
                            <div class="form-floating mt-5">
                                <select style="border: none; border-bottom: solid 2px #0d009c; border-radius: 0" class="form-select" id="sala" aria-label="Floating label select example">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label for="sala">Selecione uma sala</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                            <a type="button" id="" class="text-start btn btn-primary" onclick="addReserva()">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


